<!DOCTYPE html>
<html>

<head>

    <title>Add Appointment</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <style>
        .flash-success {
            color: #22c55e;
            margin-bottom: 10px;
        }

        .flash-error {
            color: #ef4444;
            margin-bottom: 10px;
        }
    </style>

</head>

<body>

    <div class="login-container">

        <h2>Add Appointment</h2>

        <!-- FLASH MESSAGES -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <!-- CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

            <div class="input-group">

                <label>Patient Name</label>
                <input type="text" name="patient_name" required>

            </div>

            <div class="input-group">

                <label>Appointment Date</label>
                <input type="date" name="appointment_date" required>

            </div>

            <div class="input-group">

                <label>Appointment Time</label>
                <input type="time" name="appointment_time" required>

            </div>

            <button type="submit" class="login-btn">
                Add Appointment
            </button>

        </form>

    </div>

</body>

</html>